<script type=text/javascript>
    var prntTypes = '';
  var rvno = '';
  var strUrl = '';
    var pvid = '';
    var custID = '';
    var base_url = "XEPATH";
    var thisVendor = '';
    {% assign vendor = product.vendor %}
    thisVendor = "{{ vendor }}";
   {% if customer %}
      custID = {{ customer.id}} ;
    {% else %}
        custID = 0 ;
   {% endif %}
   // for template based product
   var productCat = '';
   var pbti = 0;
   {% for c in product.collections %}
      productCat += {{ c.id}};
         {% if forloop.last != true %}
        productCat += ',';
        {% endif %}
   {% endfor %}
    
    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    
    var refID = 0;
   
   {% unless product.metafields.Pre-Deco.imprint_design_id == blank %}  
    refID = {{ product.metafields.Pre-Deco.imprint_design_id }};
    $( "#AddToCart" ).replaceWith( "<button type='button' name='cust' id='custom' class='btn' onclick='addPDPtoCart({{ product.id }},"+refID+");'><span id='addPDPtext'>Add to Cart</span></button>" );
    {% endunless %}

  $(document).ready(function() {
  //redirect to site if duplicate product is opened
  if(thisVendor == 'imprintNext'){
          window.location.href="/";
        }
  });
  // for template based product
  if(productCat != ''){
      $.get(base_url+"api/v1/template-products?prodcatID="+productCat,function(data){
    data = JSON.parse(data);
    jQuery.each(data, function(i, item) {
      
      if(item != false){
        pbti = 1;
      }
      });
    });
  }
  
   function customize_product(pid,cid) {
   	pvid = window.location.search.split('variant=')[1];
    if (pvid == null || pvid === ''){
    	pvid = "{{product.selected_or_first_available_variant.id}}";
    }
      var qty =0;
    if(document.getElementById('Quantity-product-template')){
      qty = document.getElementById('Quantity-product-template').value;
        }else if(document.getElementById('Quantity')){
          qty = document.getElementById('Quantity').value;
        }else if(document.getElementById('qty')){
          qty = document.getElementById('qty').value;
        }else
          qty = document.getElementById('Qty').value;
          //     get current variant id

    if(document.getElementById('Quantity-product-template').style.display == 'none'|| qty === 0){
      if(!document.getElementById('stockOut'))
     $("<span id='stockOut' style='color: red; font-size: small; padding-left: 12px;'>Out of Stock !!!</span>").insertAfter("#Quantity-product-template");
              return;
      }
      var url = "";
      var baseurl = "";
       if(pvid){
         var url = base_url+"index.html?customer=" + cid +"&id=" + pid + strUrl +"&qty=" + qty +"&vid=" + pvid +"&pbti=" + pbti ;
         var baseurl = "/pages/designer-studio?customer=" + cid +"&id=" + pid + strUrl +"&qty=" + qty +"&vid=" + pvid +"&pbti=" + pbti ;
       }
       if(refID && refID > 0){
        url = url + "&dpid=" + refID;
          baseurl = baseurl + "&dpid=" + refID;
       }
       if (isMobile || navigator.userAgent.match(/Mac/) && navigator.maxTouchPoints && navigator.maxTouchPoints > 2) {
            window.location.href=url;
        } else {
          window.location.href=baseurl;
        }
  }
    
    function addPDPtoCart(pid,refID) {
      //alert(pid);
       $('#addPDPtext').text('Adding to Cart...');
      var qty =0;
    if(document.getElementById('quantity')){
      qty = document.getElementById('quantity').value;
        }else if(document.getElementById('Quantity')){
          qty = document.getElementById('Quantity').value;
        }else if(document.getElementById('qty')){
          qty = document.getElementById('qty').value;
        }else
          qty = document.getElementById('Qty').value;

         //     get current variant id
    pvid = window.location.search.split('variant=')[1];
    if (pvid == null || pvid === ''){
      pvid = "{{product.selected_or_first_available_variant.id}}";
    }
     if(pvid && pvid != ''){
        var cartURL = '/cart?view=refitem&ref='+refID+'-'+pvid+'-'+qty;
        window.location.href=cartURL;
       }else{
        alert('Something went wrong. Please try another product.');
         }
  }
</script>